form{
	border:#005ce6 solid 3px;
	background-color:#e6f2ff;
	font-size:1em;
}
.registrationform{
	margin-top:10%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
	box-shadow: 5px 7px gray;
}
.x{
	float:right;
	background-color: red;
	color:white;
}
.SignMeUp{
	border-color:#005ce6;
	margin-left:2%;
}
.username{
	margin-left: 8%;
}
.email{
	margin-left: 6%;
}
.reason{
	margin-left: 4%; 
}
.pet{
	margin-left: 6%;
}
.title{
	font-size: 2em;
}
.top{
	background-color:#cc9966;
}
.yn{
	display:inline-block;
}
.receive1{
	margin-left: 3%;
}
.receive2{
	margin-left: 5%;
}
.textbox{
	background-color:#e6f2ff;
	border:#005ce6 solid 1px;
	margin-left:5%;
	margin-top:2%;
}
